<!-- ======= leaderboard Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Administration</h2>
      <ol>
        <li><a routerLink="/home">Home</a></li>
        <li>Administration</li>
      </ol>
    </div>

  </div>
</section><!-- End leaderboard Section -->
<div class="table container" >
   
   <table cellspacing="" style="margin-left: 10%;width: 80%;">
      <tr>
         <th>Picture</th>
         <th>Name</th>
         <th>Designation</th>
         <th>Email</th>
         <th>Phone</th>
      </tr>

      <tr>
        <td><img src="../assets/img/user.png"  width="40%" height="40%"/></td>
        <td>Sri Santosh Ku. Sarangi (IAS)</td>
        <td>Honorary President</td>
        <td>sksarangi@gmail.com</td>    
        <td>+91 9775856435</td>
      </tr>

      <tr>
        <td><img src="../assets/img/user.png"  width="40%" height="40%"/></td>
        <td>Sri Priyadarshi Mohapatra</td>
         <td>Chief Advisor & Chairman, Organising Committee</td>
         <td>pm@gmail.com</td>
         <td>+91 9276345672</td>
         
      </tr>

      <tr>
         <td><img src="../assets/img/user.png"  width="40%" height="40%"/></td>
         <td>Sri Biswajit Mohanty</td>
         <td>Vice President</td>
         <td>biswajeet@gmail.com</td>
         <td>+91 7865437689</td>
         
      </tr>

      <tr>
        <td><img src="../assets/img/user.png"  width="40%" height="40%"/></td>
        <td>Sri Chittaranjan Rout</td>
         <td>General Secretary</td>
         <td>crout@gmail.com</td>
         <td>+91 8756469876</td>
         
      </tr>


      
      <tr>
        <td><img src="../assets/img/user.png"  width="40%" height="40%"/></td>
        <td>Sasank Sekhar Mohapatra</td>
         <td>Game Director</td>
         <td>sekhar@gmail.com</td>
         <td>+91 8789765456</td>
        
      </tr>
      
      <tr>
        <td><img src="../assets/img/user.png"  width="40%" height="40%"/></td>
        <td>Sri Niranjan Pattnaik</td>
         <td>Auditor</td>
         <td>snp07@gmail.com</td>
         <td>+91 9878654356</td>
         
      </tr>
   </table>
</div>
