<!-- ======= About Us Section ======= -->
<section class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>About Us</h2>
        <ol>
        <li><a routerLink="/home">Home</a></li>
        <li>About Us</li>
        </ol>
    </div>

    </div>
</section><!-- End About Us Section -->

<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
    <div class="container">

    
    <div class="row">
        <div class="col-lg-6">
        <img src="assets/img/hero-bg-1.jpg" class="img-fluid" alt=""height="100%" width="100%">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>Odisha Badminton Association</h3>
        
        <p>
            The Odisha Badminton Association (OBA) is the Governing Body for Badminton in India recognized by Ministry of Sports, Govt. of India as National Sports Federation. OBA is registered under the Societies Act and affiliated to Badminton Asia Confederation (BAC), Badminton World Federation (BWF) and Indian Olympic Association (IOA). OBA was formed in 1934 and Badminton Associations of all States / UTs are its Member Associations. 
OBA organizes National Championships for all categories of Badminton players apart from Zonal Inter State Championships, All India Ranking Tournaments in India. OBA also conducts various International Tournaments in India like the BWF World Tour 500 India Open, Syed Modi India Grand Prix, India Junior National Championship, and Tata India National Tournament every year. The association also runs the Premier Badminton League (PBL) a 8 city franchise based League with a Prize money of 6 Crores. All top players of the world including World No 1 and Olympic medalists and legends of the game have been taking part in the league which had its inception three years back.
        </p>
        </div>
    </div>

    </div>
</section><!-- End About Section -->


<!-- ======= Tetstimonials Section ======= -->
<section class="testimonials" data-aos="fade-up">
    <div class="container">

    <div class="section-title">
        <h2>Chair Persons</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>

    <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
        <img src="C:\Users\mindfire\Desktop\final semester\img\user.png"  width="40%" height="40%" class="testimonial-img" alt="">
        <h3>Asit Tripathy</h3>
        <h4>Chief Secretary</h4>
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Serves the Odisha Badminton Association as the chief Secretary.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        </div>

        <div class="testimonial-item">
        <img src="C:\Users\mindfire\Desktop\final semester\img\user.png"  width="40%" height="40%" class="testimonial-img" alt="">
        <h3>Rohit Pujari</h3>
        <h4>President</h4>
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Serves the Odisha Badminton Association as the President.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        </div>

        <div class="testimonial-item">
        <img src="C:\Users\mindfire\Desktop\final semester\img\user.png"  width="40%" height="40%" class="testimonial-img" alt="">
        <h3>Rajesh Patil</h3>
        <h4>Tournament Convenor</h4>
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Serves the Odisha Badminton Association as the tournament Convenor.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        </div>

        <div class="testimonial-item">
        <img src="C:\Users\mindfire\Desktop\final semester\img\user.png"  width="40%" height="40%" class="testimonial-img" alt="">
        <h3>Himanta Biswas Sharma</h3>
        <h4>President(BAI)</h4>
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Serves the Badminton Association of India as the President.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        </div>

        

    </div>

    </div>
</section><!-- End Ttstimonials Section -->
